body {
	background-color: #000;
	color: #ccc;
}
body, input {
	font-family: 'Cantarell', sans-serif;
	font-size: 16px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px; /* this is definitely not a webkit-specific hack to fix font aliasing */
}
a:link, a:visited {
	color: #08a;
	text-decoration: none;
}
a:hover {
	color: #0af;
	text-decoration: underline;
}
img {
	border-style: none;
	vertical-align: middle;
}
form {
	display: inline;
	text-align: center;
}
input, button {
	background-color: #050505;
	border: 1px solid #aaa;
	color: #eee;
	padding: 2px 5px;
}
input:focus {
	border: 1px solid #38a;
}
input[type="submit"] {
	background-color: #111;
	padding: 1px 5px;
	line-height: 27px;
}
label {
	cursor: pointer;
}

header, article {
	width: 900px;
	margin: 20px auto;
	clear: both;
}

img.aa {
	float: left;
	opacity: 0.9;
}

header {
	position: relative; /* for #results */
}

.clear {
	line-height: 0;
	clear: both;
}
