p {
	font-size: 1.5em;
	text-align: center;
	margin: 50px 0;
}

article p a.create:link, article p a.create:visited {
	color: #111;
	padding: 10px;
	border: 1px solid #888;
	background: -moz-linear-gradient(top, #07a, #047);
	background: -webkit-linear-gradient(top, #07a, #047);
	display: inline-block; /* hasLayout */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0077aa', endColorstr='#004477')";
	font-weight: bold;
}

article p a.create:hover {
	background: -moz-linear-gradient(top, #08b, #047);
	background: -webkit-linear-gradient(top, #08b, #047);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088bb', endColorstr='#004477')";
	text-decoration: none;
}
