<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Audio Axis</title>
	<link href='http://fonts.googleapis.com/css?family=Cantarell' rel='stylesheet'>
	<link href="/static/base.css" rel="stylesheet">
	{{.}}
</head>

<body>
