{{$head := `<link href="/static/home.css" rel="stylesheet">`}}
{{template "header.html" $head}}

<header>
	<img src="/static/audioaxis-white.png" alt="Audio Axis" class="aa">
</header>
<article>
	<p>
	Welcome to Audio Axis!
	</p>
	<p>
	Create playlists. Share the link. Collaborate in real-time.
	</p>
	<p>
	<a href="/create" class="create">Get started</a>
	</p>
	<p>
	Questions? Ask raylu.
	</p>
	<p>
	Also, a special thanks to <a href="http://frost.メイドさん.jp/">Frostbite</a> for his help.
	</p>
</article>

{{template "footer.html"}}
