{{$head := `<link href="/static/p.css" rel="stylesheet">`}}
{{template "header.html" $head}}

<header>
	<a href="/">
		<img src="/static/audioaxis-white.png" alt="Audio Axis" class="aa">
	</a>
	<form onsubmit="return search(this.song.value)">
		<label for="user">Username:</label>
		<input type="text" id="user" value="anonymous" size="16" onkeypress="return userKeyPress(event)">
		<br>
		<label for="song">Add a song:</label>
		<input type="text" id="song" autocomplete="off">
		<input type="submit" value="Search">
	</form>
	<div id="results" onblur="$(this).slideUp()"><ul>
	</ul></div>
</header>
<article>
</article>
<script>
	var pid = '{{.Id}}';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/static/script.js"></script>
{{$youtube := "http://www.youtube.com/e/82KEVKGRAhI?version=3&amp;enablejsapi=1&amp;rel=0&amp;controls=0&amp;disablekb=1&amp;showinfo=0"}}
<object data="{{$youtube}}" id="player" width="1" height="1" type="application/x-shockwave-flash">
	<param name="allowScriptAccess" value="always">
</object>

{{template "footer.html"}}
